p {
  font-family: Lato;
}

#tofu-in-orbit {
  animation: rotation 1ms infinite linear;
  margin: 69px;
}

a:hover #tofu-in-orbit {
  animation: marquee 150ms linear infinite;
  display: inline-block;
  padding-left: 100%;
}

#someone-important {
  font-size: 100%;
  background-image: linear-gradient(to right, red , orange, green, blue, pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

a, a:visited {
  color: blue;
}