<hello name="{{ name }}"></hello>
<a href="https://tofu.dev/"><img src="https://tofu.dev/assets/tofus/happytofu.png" alt="Tofu in orbit" id="tofu-in-orbit"></a>
<p>
  Hi, I'm <span id="someone-important"><a href="https://tofu.dev/">Sam Patrick Kavanagh</a></span>, and this site is being served from a web server in space.
</p>
<p>
  In case any aliens are interested:
</p>

<p>
  My personal website: <a href="https://tofu.dev/">Tofu.dev</a><br />
  My: <a href="https://tofu.dev/assets/CV_Sam_Kavanagh.pdf">CV</a>
</p>